{% extends "base.html" %}



{% block content %}
    {% for route in routes %}
           <h5><a href="{{ route.get_absolute_url }}">{{ route.name }}</a></h5>
            {% comment %} <a href="{% url "catalog:route" route.slug %}"> {% endcomment %}
            {% comment %} {{ route.name }} {% endcomment %}
            {{ route.price }}
        {% comment %} <h5><a href="{{ route.get_absolute_url }}">{{ route.name }}</a></h5> {% endcomment %}
        {% comment %} {{ route.price }}  {% endcomment %}
        <p></p>
        
    {% endfor %}
{% endblock %}