{% extends "base.html" %}

{% block content %}
    {% if route.image %}
        <img src="{{route.image.url}}" class="img-fluid rounded-start" alt="{{route.name}}">
    {% endif %}
    {{route.name}}
    {{route.description}}
    {{route.price}}
    {{route.complexity}}

    {% if data %}
        <p>Записаться на ближайшие прогулки по этому маршруту</p>
        {% for event in data %}
        <p>    
            <a class="btn btn-dark" href="{% url "order:create_order" event.id %}"> <!--Чтобы работало с конкретными прогулками передавать id-->     
                {{event.start}}
            </a>
        </p>
                
        {% endfor %}    
    {% endif %}
    
{% endblock  %}