{% extends "base.html" %}
{% load catalog_tags %}
{% load tz %}
{% block content %}
    <!--Прописать поля для фильтров -->

<div class="container">
    <div class="row mt-1">
        <!-- Категории -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Формат
            </button>
            <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                {% tag_categories as categories %}
                {% for category in categories %}
                    <li><a class="dropdown-item text-white" href="{% url 'schedule:index' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% comment %} <!-- Фильтр по дню -->
        <div class="input-group mb-2">
            <label for="day-input" class="form-label">Выберите день:</label>
            <input type="date" class="form-control" id="day-input">
        </div>

        <!-- Фильтр по времени -->
        <div class="input-group mb-2">
            <label for="time-input" class="form-label">Выберите время:</label>
            <input type="time" class="form-control" id="time-input">
        </div>

        <!-- Кнопка применить фильтры -->
        <button class="btn btn-dark" id="filter-button">Применить фильтры</button> {% endcomment %}
    </div>
</div>


</div>

<div class="event-grid-container">
    <button class="scroll-button prev-button" onclick="scrollLeft()">&#10094;</button>
    <div class="event-grid">
        {% regroup events by start|date as event_dates %}
        {% for date in event_dates %}
            <div class="event-column">
                <h3>{{ date.grouper }}</h3>
                {% for event in date.list %}
                    <div class="event">
                        <h4>{{ event.route.name }}</h4>
                        <p>Price: {{ event.route.price }}</p>
                        <p>Time: {{ event.start|timezone:"Europe/Moscow"|time }}</p>
                        <a href="{% url 'catalog:route' event.route.slug %}">More Info</a>
                        <form action="{% url 'order:create_order' event.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Sign Up" class="btn btn-dark">
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <button class="scroll-button next-button" onclick="scrollRight()">&#10095;</button>
</div>


{% endblock  %}