{% extends "base.html" %}

{% block content %}
    {% for event in events %}
        <a href="{% url "catalog:route" event.route.slug %}"> {% comment %} Пока делаю возврат на страницу/карту прогулки {% endcomment %}
            {{event.id}}
            {{event.route.name}}
            {{event.route.price}}
            {{event.date}}
            {{event.start}}
            {{event.end}}
        </a>
            <p>
                +Записаться на прогулку+
            </p>
    {% endfor %}

{% endblock  %}