{% extends "base.html" %}

{% block content %}

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">{{ event.route.name }}</h3>
                        <p class="card-text">Дата: {{ event.start|date:"d.m.Y" }}</p>
                    </div>
                    <div class="col-md-6 text-end">
                        <p class="card-text">Время начала: {{ event.start|time:"H:i" }}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    {% if event.route.image %}
                        <img src="{{ event.route.image.url }}" class="img-fluid rounded-start" alt="{{ event.route.name }}">
                    {% endif %}
                    </div>
                </div>
                <form action="{% url "order:create_order" event.id %}" method="post">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <p>Стоимость из расчета на 1 человека: {{ event.price }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="id_fullname" class="form-label">Имя:</label>
                            <input type="text" class="form-control" id="id_fullname" name="fullname"
                                placeholder="Введите имя" value="{{ form.fullname.value|default_if_none:'' }}" required>
                            {% if form.fullname.errors %}
                                <div class="alert alert-danger">{{ form.fullname.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="id_phone_number" class="form-label">Номер телефона:</label>
                            <input type="tel" class="form-control" id="id_phone_number" name="phone_number"
                                placeholder="В формате: XXX-XXX-XX-XX" value="{{ form.phone_number.value|default_if_none:'' }}" required>
                            {% if form.phone_number.errors %}
                                <div class="alert alert-danger">{{ form.phone_number.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="id_email" class="form-label">Электронная почта:</label>
                            <input type="email" class="form-control" id="id_email" name="email"
                                placeholder="В формате: xxx@xx.xx" value="{{ form.email.value|default_if_none:'' }}" required>
                            {% if form.email.errors %}
                                <div class="alert alert-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="id_quantity" class="form-label">Количество мест:</label>
                            <input type="number" class="form-control" step="1" min="1" max="100" id="id_quantity" name="quantity"
                                value="{{ form.quantity.value|default_if_none:'' }}" required>
                            {% if form.quantity.errors %}
                                <div class="alert alert-danger">{{ form.quantity.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">Способ оплаты:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_by_card"
                                id="id_payment_by_card_1" value="0" checked>
                            <label class="form-check-label" for="id_payment_by_card_1">Оплата картой</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_by_card"
                                id="id_payment_by_card_2" value="1">
                            <label class="form-check-label" for="id_payment_by_card_2">Наличными/картой при получении</label>
                        </div>
                        {% if form.payment_by_card.errors %}
                            <div class="alert alert-danger">{{ form.payment_by_card.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-dark">Оформить заказ</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

{% endblock %}