<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar brand" href="{% url "main:index" %}">Главная</a>
                    <ul class="navbar-nav">
                        <li><a class="nav-item dropdown" href="#">Информация</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url "main:about" %}">Про нас</a></li>
                                <li><a class="dropdown-item" href="#">Контактная информация</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-item" href="{% url "catalog:routes" %}">Наши маршруты</a></li>
                        <li><a class="nav-item" href="{% url "schedule:index" %}">Расписание</a></li>
                    </ul>
            </div>
        </nav>
    </header>


    <h1> {% block content %}
        Home - page
        {% endblock %}</h1>


    {% block footer %}
    {% endblock %}
</body>
</html> 